.formulario .invalido {
    border: solid 2px hsl(0, 91%, 57%);
    margin-bottom: 0;
}

.formulario span {
    display: none;
    font-size: 0.8rem;
}

.formulario span.obrigatorio {
    color: hsl(0, 91%, 57%);
    margin-bottom: 15px;
    display: block;
}

.formulario .valido {
    border: solid 2px hsl(133, 100%, 38%);
}